In [137]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
import pickle
from sklearn import linear_model
from sklearn import model_selection

In [138]:
data = pd.read_csv('data.csv',sep=';')
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [139]:
print(data.columns)

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [140]:
predict = 'G3'
labels = ['failures', 'studytime','absences', 'G1', 'G2' ,'freetime','internet' ]

y = np.array(data[predict])
data = data[labels]
data.replace(('yes','no'),(1,0),inplace = True)

x = np.array(data)

x_train,x_test, y_train,y_test = model_selection.train_test_split(x,y,test_size = 0.1)

In [141]:
model = linear_model.LinearRegression()
model.fit(x_train,y_train)
acc = model.score(x_test,y_test)
print(acc)

0.8993488188333414

In [142]:
coefficients = model.coef_
for i,val in enumerate(labels) :
    print(f'{val} : {int(coefficients[i]*100)}%')
print('intercept',model.intercept_)

failures : -20%
studytime : 9%
absences : 2%
G1 : 15%
G2 : 87%
freetime : -7%
internet : 6%
intercept -0.07439718380042848

In [146]:
predict = model.predict(x_test)
print(len(y_test))
false = 0
for i,val in enumerate(predict):
    if int(val) != y_test[i]:
        false += 1
        print(f'val : {val}    actual_val : {y_test[i]}')
print(false)

65
val : 7.955206485803917    actual_val : 6
val : 16.63863156293651    actual_val : 17
val : 7.641779352918556    actual_val : 8
val : 9.034553585525469    actual_val : 10
val : 12.858621112040094    actual_val : 13
val : 11.542344839956113    actual_val : 12
val : 15.504932763336418    actual_val : 14
val : 12.663141476932905    actual_val : 13
val : 16.290315786633208    actual_val : 17
val : 12.246772077084735    actual_val : 14
val : 11.223390990039544    actual_val : 14
val : 12.196878202851433    actual_val : 13
val : 11.284972277291603    actual_val : 12
val : 12.274789745081499    actual_val : 13
val : 10.26922097546968    actual_val : 11
val : 11.448736904492321    actual_val : 12
val : 17.272902108328203    actual_val : 18
val : 11.384361386629838    actual_val : 12
val : 14.22539386323126    actual_val : 15
val : 12.48920717352967    actual_val : 13
val : 8.268799517988025    actual_val : 9
val : 10.156420789821674    actual_val : 11
val : 12.408308688035586    actual_val : 14
val : 8.87726129461756    actual_val : 10
val : 7.965681651033469    actual_val : 9
val : 7.2388929717247175    actual_val : 9
val : 12.991739739932374    actual_val : 13
val : 11.242074326537288    actual_val : 12
val : 11.16265968916146    actual_val : 12
val : 11.77309252338229    actual_val : 10
val : 10.325207781094749    actual_val : 11
val : 5.7642538414134155    actual_val : 7
val : 10.890584914722515    actual_val : 11
val : 18.568896328681237    actual_val : 19
val : 12.196878202851433    actual_val : 13
val : 8.82560986839526    actual_val : 10
val : 11.266034483950623    actual_val : 12
val : 16.810784902374646    actual_val : 17
val : 13.44274332635525    actual_val : 12
39